@use "../global/" as g;

/* --------------------------------------
  l-hamburger-menu
-------------------------------------- */

.l-hamburger-menu {
  background: g.$color-primary;
  color: g.$color-white;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;

  // open時、表示
  &.is-open {
    opacity: 1;
    visibility: visible;
  }

  @include g.media() {
    &.is-open {
      overflow: hidden;
    }
  }
}

.l-hamburger-menu__inner {
  padding-block: 97rem 64rem;
  padding-inline: 18rem;
  position: relative;

  // 背景の格子模様
  &::before {
    content: "";
    display: block;
    inset: 0;
    mask-image: url(../img/common/lattice.svg);
    @include g.mask-img;
    mask-size: 250%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: g.$color-white;
    opacity: 0.03;
  }

  @include g.media() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0;
    height: 100%;

    &::before {
      mask-size: 100%;
    }
  }
}

.l-hamburger-menu__nav {
  @include g.media() {
    padding-inline: 120rem;
    position: relative;
    z-index: g.$z-index-default;
  }
}

.l-hamburger-menu__list {
}

.l-hamburger-menu__item {
  padding-block: 20rem;
  position: relative;

  // border
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: g.$color-white;
    position: absolute;
    bottom: 0;
  }

  &::before {
    opacity: 0.25;
  }

  &::after {
    display: none;
  }

  // 1つ目の項目のpadding-topを0に
  &:first-of-type {
    padding-top: 0;
  }

  @include g.media() {
    padding-block: 26px;

    // リンクhover時、線を伸ばす
    &::after {
      display: block;
      width: 0;
      right: 0;
      transition: width 0.3s;
    }

    &:has(.l-hamburger-menu__link:hover)::after {
      width: 100%;
      left: 0;
    }
  }
}

.l-hamburger-menu__link {
  font-size: 17rem;
  font-weight: g.$font-weight-medium;
  letter-spacing: 0.06em;
  display: block;

  @include g.media() {
    font-size: clamp(15px, 1.18vw, 19px);
  }
}

.l-hamburger-menu__item--has-child {
  .l-hamburger-menu__link {
    display: block;
    margin-bottom: 12rem;
  }

  @include g.media() {
    display: grid;
    grid-template-columns: 120rem 1fr;
    justify-content: space-between;
    gap: 63rem;
  }
}

.l-hamburger-menu__sub-list {
  display: flex;
  gap: 12rem 24rem;
  flex-wrap: wrap;
}

.l-hamburger-menu__sub-item {
  opacity: 0.7;
  transition: opacity 0.3s;

  // リンクhover時、opacityを1に
  @include g.media() {
    &:has(.l-hamburger-menu__sub-link:hover) {
      opacity: 1;
    }
  }
}

.l-hamburger-menu__sub-link {
  font-size: 15rem;
  font-weight: g.$font-weight-regular;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  gap: 6rem;

  // 横の[-]
  &::before {
    content: "";
    display: block;
    background: currentColor;
    width: 8rem;
    height: 1px;
  }

  @include g.media() {
    font-size: clamp(14px, 1.04vw, 17px);
  }
}

.l-hamburger-menu__img {
  @include g.media() {
    position: relative;
    overflow: hidden;
    height: 100%;

    img {
      @include g.media() {
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
        transition: opacity 0.5s;
        opacity: 0;

        // リンクのdata値と一致した画像を表示する
        &.is-active {
          opacity: 1;
        }
      }
    }
  }
}

.l-hamburger-menu__marquee {
  display: none;

  @include g.media() {
    font-size: 170rem;
    display: flex;
    position: absolute;
    opacity: 0.4;
    bottom: 0;

    // 上下の線を消す
    &::before,
    &::after {
      display: none;
    }
  }
}
