@use "../global/" as g;

/* --------------------------------------
  l-news-sidebar
-------------------------------------- */

.l-news-sidebar {
  display: flex;
  flex-direction: column;
  gap: 50rem;
  color: g.$color-text;
  margin-bottom: 39rem;

  @include g.media() {
    margin-bottom: 0;
    position: sticky;
    left: 0;
  }
}

.l-news-sidebar__title {
  font-size: 16rem;
  font-weight: g.$font-weight-light;
  line-height: 0;
  letter-spacing: 0.04em;
  padding-bottom: 24rem;
  margin-bottom: 12rem;
  border-bottom: 1px solid currentColor;

  @include g.media() {
    margin-bottom: 20rem;
  }
}

.l-news-sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  @include g.media() {
    gap: 20rem;
  }
}

.l-news-sidebar__link {
  display: inline-block;
  font-size: 14rem;
  font-weight: g.$font-weight-medium;
  line-height: 1.4285;
  left: 0.1em;
  padding-bottom: 6rem;
  position: relative;

  @include g.media() {
    // border
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      background: currentColor;
      transition: width 0.3s;
    }

    // hover時、borderが伸びる
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}

.l-news-sidebar__count {
  color: #b1b1b1;
  display: inline-block;
  margin-left: 6rem;
}
