@use "../global/" as g;

/* --------------------------------------
  service-decoration
-------------------------------------- */
.c-service__decorations {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;

  & > span {
    display: block;
    width: 15rem;
    aspect-ratio: 1/1;
    background: g.$color-secondary;

    &:nth-of-type(2) {
      background: g.$color-accent;  
    }

    &:nth-of-type(3) {
      background: g.$color-light 
    }
  }
}
