// --------------------------------------
// variables
// --------------------------------------

// color //
$color-primary: #303030;
$color-secondary: #3f4f8a;
$color-accent: #59b9c7;
$color-text: #1d1d1d;
$color-black: #000000;
$color-white: #ffffff;
$color-red: #f03341;
$color-light: #b7c8d0;
$color-bg-primary: #fcfafa;
$color-bg-accent: #efefef;

// font-weight //
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

// z-index
$z-index-default: 1;
$z-index-header: 30;
$z-index-negative: -1;